@import url('assets/css/reset.css');
@import url('assets/css/fonts.css');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    min-height: 100vh;
    font-family: 'Arial Narrow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, grey, rgb(38, 214, 99), white, grey);
}

#borderedcontainer {
    border: 25px dashed orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.title-container {
    text-align: center;
    margin: 40px 0;
    max-width: 89%;
    padding: 50px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
}

.relic-shop-title {
    font-family: 'SnellRoundhand', cursive;
    font-size: 100px;
    color: #000;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin: 50px;
    margin-top: -20px;
}

.emoji-line {
    font-size: 90px;
    margin-top: -50px;
    margin-bottom: 40px;
}

.relic-shop-description {
    font-size: 30px;
    color: black;
}

.image-container {
    margin: 40px 0;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.content-section {
    max-width: 80%;
    text-align: center;
    margin: 20px auto;
}

.section-title {
    font-family: 'SnellRoundhand', cursive;
    font-size: 48px;
    color: orangered;
    margin: 20px 0;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: orangered;
}

.section-paragraph {
    font-size: 24px;
    color: black;
    line-height: 1.6;
    margin: 10px 0;
}

.chapter-title-container {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    margin-top: 40px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px; /* Adjust this if needed for spacing */
    height: 150px; /* Adjust the height to center the text properly */
}
.chapter-title-container a {
    margin-left: 1rem;
    font-weight: 100;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
/* .chapter-title-container a::after {
    content: '↥';
} */
.chapter-title {
    font-family: 'SnellRoundhand', cursive;
    font-size: 100px;
    color: #000;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin: 0;
}

#chapter-nav {
    font-size: 1.5rem;

    line-height: 2rem;
    text-align: center;
}
#chapter-nav a {
    color: inherit;
    text-decoration: none;
}
#chapter-nav a:hover {
    text-decoration: underline;
}

#page-nav {
    position: fixed;
    top: 50px; 
    left: 25px;
    padding: 1rem;
    font-size: 3rem;
    /* background-color: #ccc; */
    /* border: 1px solid black; */
    z-index: +1;
}
#page-nav ul {
    flex-direction: column;
    display: flex;
    gap: .5rem;
}
#page-nav a {
    text-decoration: none;
    cursor: pointer;
}